<component name="ArtifactManager">
  <artifact type="war" name="springcloud-storm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springcloudtest.war">
      <element id="artifact" artifact-name="springcloud-storm:war exploded" />
    </root>
  </artifact>
</component>